:root{
 --bg: #ffffff;
  --text: #000;
  --modal-bg: #ffffff;
  --overlay-bg: rgba(0, 0, 0, 0.5);
}

body{
    margin: 0;
    padding: 2rem;
    background: var(--bg);
    color: var(--text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dark{
    --bg:#000;
    --text:#ffffff;
    --overlay-bg:rgba(255, 255, 255, 0.2);
    --modal-bg:#222;
}

button {
  padding: 10px 18px;
  margin: 10px 0;
  cursor: pointer;
}

/* ---------- MODAL ---------- */

#overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-bg);
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--modal-bg);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

/* Utility */
.hidden {
  display: none;
}
